<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ block "title" . }}{{ .Title }} - {{ .Site.Title }}{{ end }}</title>
    <link rel="stylesheet" href="{{"css/tailwind.css" | absURL}}">
    
</head>
<body>
    {{- partial "nav.html" . -}}
    {{ block "main" . }}
    {{ end }}
    <script src="{{"js/clipboard.min.js" | absURL}}"></script>
    <script src="{{"js/bundle.js" | absURL}}"></script>
</body>
</html>