<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ block "title" . }}{{ .Title }} - {{ .Site.Title }}{{ end }}</title>
    <link rel="icon" href="{{"img/favicon.ico" | absURL}}" type="image/x-icon">
    <link rel="stylesheet" href="{{"css/tailwind.css" | absURL}}">
    
</head>
<body>
    {{- partial "header.html" . -}}
    <div class="flex items-start">
        <div class="w-1/5 fixed bg-white mt-16">
            {{- partial "nav.html" . -}}
        </div>
        <div class="w-1/5"></div>  
        <div class="w-4/5 py-16">
            {{ block "main" . }}
        </div>
    </div>    
    {{ end }}
    <script src="{{"js/clipboard.min.js" | absURL}}"></script>
    <script src="{{"js/bundle.js" | absURL}}"></script>
</body>
</html>