{{.Inner}}

<div class="m-auto block" style="width: 500px;">
    <div class="relative mt-5">
        <label class="absolute top-0 bg-white text-gray-700 px-1 " style="transform: translate3d(13px, -12px, 0)" for="example">Sample id *</label>
        <input class="py-2 px-4 border-gray-900 bg-white rounded-md border-1 w-full" type="text" id="example" placeholder="eg. #1234-452">  
        <p class="text-left text-gray-700 text-sm font-thin">This value can not be changed afterwards</p>
    </div>
</div>