{{.Inner}}

<div class="m-auto block" style="width: 500px;">
    <div class="relative mt-4 bg-white has-error ">
        <label class="absolute top-0 bg-white text-red-700 px-1 " style="transform: translate3d(13px, -10px, 0)" for="example">Sample id *</label>
        <input class="py-2 px-4 border-red-700 bg-white rounded-md border-1 w-full" type="text" id="example" value="yolo@swag.com"> 
        <p class="text-left text-red-700 text-sm font-thin">The sample ID you provided is not valid!</p>
    </div>
</div>