{{.Inner}}

<div class="m-auto block" style="width: 500px;">
    <div class="relative mt-4 bg-white has-error ">
        <label class="absolute top-0 bg-white text-green-700 px-1 " style="transform: translate3d(13px, -10px, 0)" for="example">Sample id *</label>
        <input class="py-2 px-4 border-green-700 bg-white rounded-md border-1 w-full text-green-700" type="text" id="example" value="#1234-5467"> 
        <p class="text-left text-green-700 text-sm font-thin">This value can not be changed afterwards</p>
    </div>
</div>